<div style="font-family: Calibri, Helvetica, sans-serif; font-size: 18px; line-height: 1.6; color: #999; max-width: 600px">
  <div style="background-color: #fff; display: flex; flex: 1; flex-direction: column; padding: 20px 20px 20px 40px">
    {{{ body }}}

    {{> footer}}
  </div>
</div>
